.docContentContainer {
    float: left;
    width: calc(90% - 20px);
    height: calc(85% - 20px);
    margin: 5% 5% 0 5%;
    padding: 10px;
    box-shadow: 0px 0px 2px 0px rgba(128, 128, 128, 0.6);
    overflow: auto;
    white-space: pre-wrap;
    background: #ececec;
}

.docContentErrorMessage{
    position: absolute;
    float: left;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 20px;
    color: red;
}

.docContentContainer::-webkit-scrollbar {
    background: #ececec;
    width: 6px;
}

.docContentContainer::-webkit-scrollbar-thumb {
    background: #5861648f;
    width: 3px;
    border-radius: 10px;
}